#root {
  display: flex;
  height: 100vh;
  padding-top: 50px;
}

.codecInput {
  margin: 0 4rem;
  margin-top: 1rem;
  max-width: 100%;
  overflow-x: hidden;
  height: 100%;
  overflow-y: auto;
  box-sizing: border-box;
}

.configuration {
  display: flex;
  gap: 1rem;
}

textarea {
  font-size: 0.7rem;
  width: 100%;
  max-width: 50vw;
}

pre {
  margin: 0;
  padding: 1rem;
  width: 100%;
  overflow: auto;
  background: #eee;
  height: 100%;
  overflow-y: auto;
  box-sizing: border-box;
}

.hasError {
  border: 2px solid #e22;
  border-radius: 3px;
}

.error {
  color: #e22;
  font-weight: bold;
  font-size: 1.2rem;
  min-height: 0.5rem;
}

.buttons {
  display: flex;
  gap: 0.5rem;
}
button.primary {
  background-color: #0dd;
}
